#contain{
  background-image: url(https://www.bing.com/th/id/OGC.dbce1b32e14fe236c58ea43c82ea29ee?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f7a%2fe9%2f0d%2f7ae90dd9ee461337842f99a51247db77.gif&ehk=J3dH0cPZMPUO9WslAfPLCsDTdqJ%2bu0f1NX8ZxA905PQ%3d);
  background-repeat: no-repeat;
  background-size: cover;
}
#cards{
  background-color: rgba(0, 153, 255, 0.733);
}
